<!DOCTYPE html>
<html>

<head>
  <%include ../partials/head %>
</head>

<body>
  <div class="jumbotron" id="fortop" align="center">
    <h1 style="color:white;">Request Box</h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well"><h2 align="center">Messages to Candidate</h2></div>
      <form action="/party/request/create" method="post">
        <input type="text" name="pname" placeholder="Your Name" class="form-control" value="<%=parties.name%>" >
        <input type="text" name="cname" placeholder="Candidate Name" class="form-control">
        <input type="text" name="content" placeholder="Message" class="form-control">
        <br/>

        <button type="submit" name="button" class="btn btn-warning"> Send</button>

      </form>

    </div>

    <div class="col-sm-3">
    <div class="well">  <h2 align="center"> Messages from candidates </h2> </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Candidates</th>
                <th>Message</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<preqs.length; i++) {%>
                <tr>
                  <td>
                    <%= preqs[i].from %>
                  </td>
                  <td>
                    <%= preqs[i].content %>
                  </td>
                  <td><a href="/party/request/resolve/<%= preqs[i]._id %>"><button type="submit" class="btn btn-primary">Resolve</button></a></td>

                </tr>
                <% }%>
            </tbody>
          </table>

  </div>

    <div class="col-sm-3">
    <div class="well">  <h2 align="center"> Messages to EM </h2> </div>
    <form action="/party/request/create" method="post">
      <input type="text" name="pname" placeholder="Your Name" class="form-control" value="<%=parties.name%>">
      <input type="text"  placeholder="EM" value="EM" class="form-control" disabled >
      <input type="hidden" name="cname" placeholder="EM" value="admin" class="form-control"  >
      <input type="hidden" name="ename" placeholder="EName" value="Party" class="form-control"  >
      <input type="text" name="content" placeholder="Message" class="form-control">
      <br/>

      <button type="submit" name="button" class="btn btn-danger"> Send</button>

    </form>

    </div>
    <div class="col-sm-3">
      <div class="well"> <h2 align="center"> Messages from EM </h2> </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>EM</th>
            <th>Message</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<ereqs.length; i++) {%>
            <tr>
              <td>
                <%= ereqs[i].from %>
              </td>
              <td>
                <%= ereqs[i].content %>
              </td>
              <td><a href="/party/request/resolve/<%= ereqs[i]._id %>"><button type="submit" class="btn btn-primary">Read</button></a></td>

            </tr>
            <% }%>
        </tbody>
      </table>

    </div>

  </div>

</body>

</html>
